<h1>
    <%= @heap.title %>
    <br>
    <small class="text-muted"><%= @heap.artist_credit.name %></small>
</h1>

<ul>
    <% @heap.subsets.each do |subset| %>
        <% subset.tracks.each do |track| %>
            <li>
                <%= track.piece.title %>
                <%= track.piece.duration.mmss %>
            </li>
        <% end %>
    <% end %>
</ul>
