<h1><%= @heap.title %></h1>
<b><%= @heap.artist_credit.name %></b>

<ul>
    <% @heap.subsets.each do |subset| %>
        <% subset.tracks.each do |track| %>
            <li>
                <%= track.piece.title %>
                <%= track.piece.duration.mmss %>
            </li>
        <% end %>
    <% end %>
</ul>
