<h1>ImportBrainzRelease#new</h1>
<p>Find me in app/views/import_brainz_releases/new.html.erb</p>

<%= form_for @import_request do |form| %>
    <p>
        <%= form.label :code %>
        <%= form.text_field :code, size: 30 %>
        <%= form.submit :import %>
    </p>
<% end %>
