<div id="<%= dom_id edition %>">
  <p>
    <strong>Archetype:</strong>
    <%= edition.archetype_id %>
  </p>

  <p>
    <strong>Editionable type:</strong>
    <%= edition.editionable_type %>
  </p>

  <p>
    <strong>Editionable:</strong>
    <%= edition.editionable_id %>
  </p>

</div>
