<h1>Repositories#show</h1>
<p>Find me in app/views/repositories/show.html.erb</p>

<p>This is Repository <%= @repository.name %></p>
<p>Format: <%= @repository.format_abbr %>
<p>User <%= @repository.user.email %></p>
