<% content_for :title, "New edition section" %>

<h1>New edition section</h1>

<%= render "form", edition_section: @edition_section %>

<br>

<div>
  <%= link_to "Back to edition sections", edition_sections_path %>
</div>
