<h1>QueueBrainzReleaseImports#new</h1>
<p>Find me in app/views/queue_brainz_release_imports/new.html.erb</p>

<%= form_for @brainz_release_import_request do |form| %>
    <p>
        <%= form.label :code %>
        <%= form.text_field :code, size: 30 %>
        <%= form.submit :import %>
    </p>
<% end %>
