<h1>OriginalExemplar#show</h1>
<p>Find me in app/views/original_exemplar/show.html.erb</p>

<p><%= @original_exemplar.disambiguation %></p>
<p><%= @original_exemplar.compilation_release.head.title %></p>
