<h1>New Release Copy</h1>

<section>
  <div class="container">
    <%= render 'form', release_copy: @release_copy %>

    <%= link_to 'Back', release_copies_path, class: 'button is-link' %>
  </div>
</section>
