<p style="color: green"><%= notice %></p>

<h1>Musicbrainz import orders</h1>

<div id="musicbrainz_import_orders">
  <% @musicbrainz_import_orders.each do |musicbrainz_import_order| %>
    <%= render musicbrainz_import_order %>
    <p>
      <%= link_to "Show this Musicbrainz import order", musicbrainz_import_order %>
    </p>
  <% end %>
</div>

<%= link_to "New musicbrainz import order", new_musicbrainz_import_order_path %>
