<div id="<%= dom_id archetype %>">
  <p>
    <strong>Title:</strong>
    <%= archetype.title %>
  </p>

  <p>
    <strong>Archetypeable type:</strong>
    <%= archetype.archetypeable_type %>
  </p>

  <p>
    <strong>Archetypeable:</strong>
    <%= archetype.archetypeable_id %>
  </p>

</div>
