<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
    <h1 class="title">
      <%= title %>
    </h1>
    <% unless local_assigns[:subtitle].nil? %>
      <p class="subtitle is-5">
        <%= subtitle %>
      </p>
    <% end %>
    </div>
  </div>
</section>