 <div class="columns">
  <div class="column is-1"><p class="has-text-right">
    <%= release_subset_track.no %></p>
  </div>
  <div class="column is-10">
    <p class="is-danger">
      <%= release_subset_track.piece.title %>
    </p>
  </div>
  <div class="column is-1">
    <p class="has-text-right">
      <%= release_subset_track.piece.duration.mmss %>
    </p>
  </div>
</div>