<h1>Editing import order</h1>

<%= render "form", import_order: @import_order %>

<br>

<div>
  <%= link_to "Show this import order", @import_order %> |
  <%= link_to "Back to import orders", import_orders_path %>
</div>
