<section>
  <div class="container">
    <h1>Editing Import Order</h1>

    <%= render 'form', import_order: @import_order %>

    <%= link_to 'Show', @import_order %> |
    <%= link_to 'Back', import_orders_path %>
  </div>
</section>
