<h1>ImportOrders#new</h1>
<p>Find me in app/views/import_orders/new.html.erb</p>
<%= form_for @import_order, url: {action: 'create'} do |form| %>
    <p>
        <%= form.label :uri %>
        <%= form.text_field :uri %>
        <%= form.submit 'Submit' %>
    </p>
<% end %>
