<% content_for :title, "New edition position" %>

<h1>New edition position</h1>

<%= render "form", edition_position: @edition_position %>

<br>

<div>
  <%= link_to "Back to edition positions", edition_positions_path %>
</div>
