<h1>Editing artist credit</h1>

<%= render "form", artist_credit: @artist_credit %>

<br>

<div>
  <%= link_to "Show this artist credit", @artist_credit %> |
  <%= link_to "Back to artist credits", artist_credits_path %>
</div>
