<h1>MusicBrainzImportOrder</h1>

<verbatim>
app/views/music_brainz_import_orders/_music_brainz_import_order.html.erb
</verbatim>

<p>
This file exists because <kbd>test/controllers/import_orders_controller_test.rb</kbd> complains otherwise.
</p>

