<h1>Editing music brainz import order</h1>

<%= render "form", music_brainz_import_order: @music_brainz_import_order %>

<br>

<div>
  <%= link_to "Show this music brainz import order", @music_brainz_import_order %> |
  <%= link_to "Back to music brainz import orders", music_brainz_import_orders_path %>
</div>
