<h1>New music brainz import order</h1>

<%= render "form", music_brainz_import_order: @music_brainz_import_order %>

<br>

<div>
  <%= link_to "Back to music brainz import orders", music_brainz_import_orders_path %>
</div>
