<h1>AlbumHeads#index</h1>
<p>Find me in app/views/album_heads/index.html.erb</p>

<ul>
  <% @album_heads.each do |head| %>
    <li><%= link_to head.title, '#' %> by <%= head.artist_credit.name %></li>
  <% end %>
</ul>
