<% content_for :title do %>
     <% @release.title %>
<% end %>

<h1>
    <%= @release.title %>
    <br>
    <small class="text-muted"><%= @release.artist_credit.name %></small>
</h1>

<ul>
    <% @release.subsets.each do |subset| %>
        <% subset.tracks.each do |track| %>
            <li>
                <%= track.piece.title %>
                <%= track.piece.duration.mmss %>
            </li>
        <% end %>
    <% end %>
</ul>
