<h1>Editing artist credit participant</h1>

<%= render "form", artist_credit_participant: @artist_credit_participant %>

<br>

<div>
  <%= link_to "Show this artist credit participant", @artist_credit_participant %> |
  <%= link_to "Back to artist credit participants", artist_credit_participants_path %>
</div>
